<!-- <ion-content>
  <ion-navbar color="gray">
    <ion-buttons end>
      <button ion-button icon-only>My Basket
        <ion-icon name="ios-basket" icon-end></ion-icon>
        <div> 0 </div>
      </button>
      <button ion-button> | </button>
      <button ion-button icon-only> Log Out
        <ion-icon icon-end name="md-exit"></ion-icon>
      </button>
      <button ion-button icon-only> Log In
        <ion-icon icon-end name="ios-person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-content> -->