page-order {

    .btBack{
        text-align: right;
    }
    ion-card{
        width: 200px;
        height: 500px;
    }
    p{
        padding-top:30px;
        font-size: 20px;
    }
    ion-card{
        text-align: center;
        align-items: center;
        align-content: center;
        align-self: center;
    
     
    }
    img{
        width: 250px;
        // padding-left: 300px;
       
       
      }
}
