page-addproduct {
   
    ion-item{
        padding-left:20px;
        padding-right:20px;
    }
    .addProduct{
        padding-left:20px;
        padding-right:20px;
    }
    .card-preview{
        align-self: auto;
        width: 250px;
        height: auto;
        border-radius: 10px;
        align-self: center;
    }
    img{
        padding: 10px;
    }

}
