page-skirt {

    .copyright{
        padding-top:20px;
        padding-bottom:20px;
        padding-right: 20px;
        color: white;
    }
    

    ion-col { 
       display: grid;
       padding: 10px;
     }


}
